<h2>Please submit your requested dates and request information</h2>
<div>
<label for="from">From</label>
<input type="text" id="from" name="from" />
<label for="to">to</label>
<input type="text" id="to" name="to" />
<p></p>
</div>

<div>
  <label>Reason</label>
  <input type="text" id="reason" name="reason" />
</div>
<p></p>
<div>
  <button type="button" id="submitRq">Submit</button>
</div>